.container {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: blueviolet;
}

.empty {
  text-align: center;
  color: #888;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.checkoutBtn {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}


.footer {
  margin-top: auto;
  padding-top: 1rem;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1e90ff;
}