.container {
  padding: 1rem 1rem 0.5rem 1rem;
  max-width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: left;
}

.section {
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.text {
  color: #4a4a4a;
  line-height: 1.6;
}

.link {
  color: #1e90ff;
  text-decoration: underline;
}