.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  color:#333;
  margin-bottom: 8px;
  border: 1px solid #e0e0e0;
}

.leftSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconButton {
  background-color: rgb(232, 232, 232);
  border: 0.75px solid gray;
  cursor: pointer;
  padding: 2px;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.removeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: #d9534f;
}

.removeBtn:hover {
  color: #c9302c;
}
